log4j.rootLogger = debug, TRANSACTIONS
log4j.logger.FILE = debug, FILE

log4j.appender.FILE=org.apache.log4j.RollingFileAppender
log4j.appender.FILE.File=logs.txt
log4j.appender.FILE.MaxFileSize=100KB
log4j.appender.FILE.MaxBackupIndex=1
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d,[%t],%-5p,%c,%m%n

log4j.appender.TRANSACTIONS=org.apache.log4j.ConsoleAppender
log4j.appender.TRANSACTIONS.layout=org.apache.log4j.PatternLayout
log4j.appender.TRANSACTIONS.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n