<html>
    <head>
        <title>Tutorial 9</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
                margin: 50px;
            }

            #letter {
                color: #fff;
                background-color: #333;
                padding: 50px;
                box-shadow: 0px 0px 40px #333333;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="letter">
            Tutorial 9; Letters
        </div>
        <br><br><br><hr><br><br><br>
        #foreach( $person in $persons )
            <div id="letter">
            #if ($person.gender.name() == "MALE")
                Hi $person.firstName,<br>
            #else
                Dear $person.firstName,<br>
            #end

            $person.firstName $person.name ,<br>
            $person.address.number $person.address.street<br>
            $person.address.town<br><br><br><br>

            #if ($person.gender.name() == "MALE")
                Dear $person.firstName,<br><br>
            #else
                Hi $person.firstName,<br><br>
            #end

            I would like to invite you to a party this Saturday, 8PM at my place.<br><br>
            Cheers, James

            </div>
            <br><br><br><hr><br><br><br>
        #end

        <div id="letter">
            Made by James Satherley
        </div>
    </body>
</html>